<div class="image-wrapper">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/3e/Hot_Stuff_the_Little_Devil.png">
  <!-- TODO: download this image and save to assets -->
</div>
<div class="user-settings" *ngIf="user">
  <div class="user-settings__data account-information">
    <h2 class="account-information__title">{{ user.firstName + ' ' + user.lastName }}</h2>
    <span class="account-information__control" (click)="changeFullName()">{{ 'Edit' | translate }}</span>

    <h2 class="account-information__title">{{ user.email }}</h2>
    <span class="account-information__control" (click)="changeEmail()">{{ 'Edit' | translate }}</span>

    <h2 class="account-information__title">***********</h2>
    <span class="account-information__control" (click)="changePassword()">{{ 'Change Password' | translate }}</span>
  </div>
  <div class="user-settings__account account-additions">
    <h2 class="account-additions__title">{{ 'Free Account' | translate }}</h2>
    <p class="account-additions__date-joined">{{ 'Joined on' | translate }} {{ joinedDate }}</p>
  </div>
</div>
