<div class="image-wrapper">
  <img src="../../../../../assets/devil.png"/>
</div>
<div class="user-settings" *ngIf="user">
  <div class="user-settings__data account-information">
    <h2 class="account-information__title">{{ user.firstName + ' ' + user.lastName }}</h2>
    <span class="account-information__control" (click)="changeFullName()">{{ 'Edit' | translate }}</span>

    <h2 class="account-information__title">{{ user.email }}</h2>
    <span class="account-information__control" (click)="changeEmail()">{{ 'Edit' | translate }}</span>

    <h2 class="account-information__title">***********</h2>
    <span class="account-information__control" (click)="changePassword()">{{ 'Change Password' | translate }}</span>
  </div>
  <div class="user-settings__account account-additions">
    <h2 class="account-additions__title">{{ 'Free Account' | translate }}</h2>
    <p class="account-additions__date-joined">{{ 'Joined on' | translate }} {{ joinedDate }}</p>

    <h2 class="account-additions__title">{{ 'Wallet Currency' | translate }} - {{ user.currency }}</h2>
    <p class="account-additions__wallet-currency" (click)="changeCurrency()">{{ 'Edit' | translate }}</p>

    <h2 class="account-additions__title">{{ 'Theme' | translate }}</h2>
    <app-toggle-switch
      class="account-additions__theme-switcher"
      [defaultValue]="initialTheme === Themes.Light"
      (valueChanged)="toggleTheme($event)"
    ></app-toggle-switch>
  </div>
</div>
