@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/screen-sizes';

:host {
  padding: 1rem;
}

.image-wrapper {
  margin: 0 5rem 3rem;
  text-align: center;
}

.user-settings {
  display: flex;
  margin: 0 5rem;

  &__data {
    flex: 1;
    padding-right: 3rem;
    text-align: right;
  }

  &__account {
    flex: 1;
    padding-left: 3rem;
    text-align: left;
  }
}

.account-information {

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.35rem;
    @include themify {
      color: $account-info-title-color;
    }
  }

  &__control {
    display: inline-block;
    margin-bottom: 1rem;
    @include themify {
      color: $account-info-control-color;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.account-additions {

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.35rem;
    @include themify {
      color: $account-info-title-color;
    }
  }

  &__date-joined {
    margin-bottom: 1rem;
    @include themify {
      color: $account-additions-data-joined-color;
    }
  }

  &__theme-switcher {
    margin-top: 1rem;
  }

  &__wallet-currency {
    margin-bottom: 1rem;
    @include themify {
      color: $account-info-control-color;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@media (max-width: $desktop) {

  .user-settings {
    flex-direction: column;
    margin: 0 2.5rem;

    &__data {
      padding: 0;
      text-align: center;
    }

    &__account {
      padding: 0;
      text-align: center;
    }
  }
}
