@import 'src/app/shared/scss/colors';

:host {
  z-index: 999;
  display: block;
  background-color: $sidebar-color;
}

.menu {

  &__item {
    padding: 1.5rem;
    overflow: hidden;
    color: $dark-gray;
    outline: none;

    &--active {
      background-color: lighten($sidebar-color, 20);
    }

    &:hover {
      background-color: lighten($sidebar-color, 20);
      outline: none;
      cursor: pointer;
    }
  }

  &__item-title {
    margin-left: 0.5rem;
  }
}
