<aside class="sidebar">
  <ul class="menu">
    <li
      class="menu__item"
      routerLinkActive="menu__item--active"
      *ngFor="let item of navItems"
      [routerLink]="item.link"
      [routerLinkActiveOptions]="{ exact: true }">
      <fa-icon class="menu__item-icon" [icon]="item.icon"></fa-icon>
      <span class="menu__item-title" >{{ item.title | translate }}</span>
    </li>
    <li class="menu__item" (click)="logout()">
      <fa-icon class="menu__item-icon" [icon]="faDoorOpen"></fa-icon>
      <span class="menu__item-title" >Logout</span>
    </li>
  </ul>
</aside>
