@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';

:host {
  position: relative;
  z-index: 999;
  display: block;
  @include themify {
    background-color: $sidebar-background;
    box-shadow: $sidebar-box-shadow;
  }
}

.sidebar {
  height: 100%;
}

.menu {

  &__item {
    padding: 1.5rem;
    overflow: hidden;
    color: $dark-gray;
    outline: none;
    @include themify {
      color: $sidebar-item-color;
    }

    &--active {
      @include themify {
        background-color: $sidebar-item-active-background;
      }
    }

    &:hover {
      outline: none;
      cursor: pointer;
      @include themify {
        background-color: $sidebar-item-active-background;
      }
    }
  }

  &__item-title {
    margin-left: 0.5rem;
  }
}

.languages {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;

  &__flag {
    display: block;
    width: 30px;
    height: 15px;
    margin: 0 0.5rem;
    cursor: pointer;
  }
}
