@import 'src/app/shared/scss/colors';

:host {
  display: block;
  background-color: $sidebar-color;
}

.menu {
  &__item {
    color: $dark-gray;
    padding: 1.5rem;
    overflow: hidden;

    &--active {
      background-color: lighten($sidebar-color, 20);
    }

    &:hover {
      cursor: pointer;
      outline: none;
      background-color: lighten($sidebar-color, 20);
    }
  }

  &__item-icon { }

  &__item-title {
    margin-left: 0.5rem;
  }
}
