<form class="form" [formGroup]="changePasswordForm" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Change password</h1>

  <mat-form-field class="form__control">
    <input matInput type="password" formControlName="lastPassword" placeholder="Enter an old password">
  </mat-form-field>
  <mat-form-field class="form__control">
    <input matInput type="password" formControlName="newPassword" placeholder="Enter an new password">
  </mat-form-field>

  <footer class="form__footer" mat-dialog-actions>
    <button mat-button (click)="closeModal()">Cancel</button>
    <button mat-button (click)="submit()" type="submit" [disabled]="formIsInvalid()">Ok</button>
  </footer>
</form>
