@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/screen-sizes';

:host {
  display: block;
  padding: 1rem;
}

.todo-list {
  width: 75%;
  max-width: 600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0.15rem;
  box-shadow:
    1px 5px 30px rgba(0, 0, 0, 0.1),
    3px 5px 10px rgba(0, 0, 0, 0.1);
  @include themify {
    background-color: $todo-list-background;
  }

  &__title {
    margin: 1rem 0;
    font-size: 2rem;
    @include themify {
      color: $header-color;
    }
  }

  &__subtitle {
    margin: 0 0 2rem;
    color: darken($light-gray, 25);
  }
}

.task {
  @include themify {
    background-color: $todo-item-background;
  }
}

.task-header {
  padding: 2rem 1rem;
  font-size: 1.25rem;

  &__description {
    padding: 0.5rem 0;

    &--completed {
      @include themify {
        color: $todo-item-completed-color;
      }
    }

    &--not-completed {
      @include themify {
        color: $todo-item-not-completed-color;
      }
    }
  }

  &__description-icon {
    margin-right: 1rem;
  }
}

.task-content {
  @include themify {
    color: $todo-item-content-color;
  }
}
@media (max-width: $mobile-large) {

  .todo-list {
    width: 100%;
  }
}
