@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';

.home {
  padding: 1rem;
}

.todo-list {
  width: 75%;
  max-width: 600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0.15rem;
  box-shadow:
    1px 5px 30px rgba(0, 0, 0, 0.1),
    3px 5px 10px rgba(0, 0, 0, 0.1);
  @include themify {
    background-color: $app-background;
  }

  &__title {
    margin: 1rem 0;
    font-size: 2rem;
  }

  &__subtitle {
    margin: 0 0 2rem;
    color: darken($light-gray, 25);
  }
}

.task-header {
  padding: 2rem 1rem;
  font-size: 1.25rem;

  &__description {
    padding: 0.5rem 0;

    &--completed {
      color: $green;
    }

    &--not-completed {
      color: $red;
    }
  }

  &__description-icon {
    margin-right: 1rem;
  }
}
