<main class="home">
  <section class="todo-list">
    <h2 class="todo-list__title">Complete the whole task</h2>
    <p class="todo-list__subtitle">You will get present</p>

    <mat-accordion *ngIf="tasks && tasks?.length">
      <mat-expansion-panel class="task" *ngFor="let task of tasks">
        <mat-expansion-panel-header class="task-header">
          <mat-panel-description
            class="task-header__description"
            [ngClass]="getTaskClasses(task)">
            <fa-icon class="task-header__description-icon" [icon]="getIconByStatus(task)"></fa-icon>
            {{ task.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="task-content">
          {{ task.content }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</main>
