<div class="action-panel">
  <button mat-raised-button color="primary" (click)="logout()">
    <fa-icon [icon]="faDoorOpen"></fa-icon>
    <span>Logout</span>
  </button>
</div>

<mat-table
  class="profiles-table mat-elevation-z8"
  [dataSource]="dataSource"
  matSort
>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <ng-container matColumnDef="Full Name">
    <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
    <mat-cell class="profiles-table__row-item" [style.width]="'400px'" *matCellDef="let user">{{ user.firstName }} {{ user.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell class="profiles-table__row-item" *matCellDef="let user">{{ user.email }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
    <mat-cell class="profiles-table__row-item" *matCellDef="let user">{{ user.createdDate }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
    <mat-cell *matCellDef="let user" class="profiles-table__row-item">
      <span [outerHTML]="user.role | dynamic"></span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="transactions">
    <mat-header-cell *matHeaderCellDef>Transactions</mat-header-cell>
    <mat-cell *matCellDef="let user" class="profiles-table__row-item">
      <button mat-raised-button color="primary" (click)="showTransactions(user._id)">show</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class="profiles-table__row-item" *matCellDef="let user">
      <fa-icon class="icon fa-2x" [icon]="faTrashAlt" (click)="openDeleteProfileDialog(user._id)"></fa-icon>
    </mat-cell>
  </ng-container>
</mat-table>
<mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
