@import '../../scss/colors';

:host {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

/* The slider */

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35px;
  height: 35px;
  margin: auto 0;
  content: '';
  background: $white url('../../../../assets/night.png');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 15px #2020203d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  background: $white url('../../../../assets/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
