@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';

:host {
  display: grid;
  grid-template-rows: 10vh 80vh;
  padding: 1rem;
}

.label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.time-intervals {
  display: block;
  padding: 1rem 0;
  @include themify {
    color: $time-interval-text-color;
  }

  &__radio-btn {
    margin-right: 1rem;
    @include themify {
      color: $time-interval-radio-label-color;
    }
  }
}

.chart-container {
  position: relative;
}

.chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep {

  text {
    @include themify {
      fill: $chart-tick-color;
    }
  }

  line {
    @include themify {
      stroke: $chart-grid-line-stroke;
    }
  }

  .legend-title-text {
    @include themify {
      color: $chart-legend-title-color;
    }
  }

  .legend-labels {
    @include themify {
      background: $chart-legend-labels-background;
    }
  }
}
