@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';

:host {
  display: grid;
  grid-template-rows: 10vh 80vh;
  padding: 1rem;
}

.label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.time-intervals {
  display: block;
  padding: 1rem 0;

  &__radio-btn {
    margin-right: 1rem;
  }
}

.chart-container {
  position: relative;
}

.chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
