@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';

.form {

  &__title {
    text-align: center;
  }

  &__control {
    display: block;
  }
}

.transactions-list {

  &__item {
    @include themify {
      border-bottom: 1px solid $transactions-list-item-border;
    }

    &--dark {
      @include themify {
        background-color: $transactions-list-item-dark-background;
      }
    }
  }

  .item-title {
    @include themify {
      color: $transactions-list-item-title-color;
    }
  }

  .item-subtitle {
    @include themify {
      color: $transactions-list-item-subtitle-color;
    }
  }

  .item-icon {

    &-expenses {
      @include themify {
        color: $transactions-list-item-expenses-icon-color;
      }
    }

    &-incomes {
      @include themify {
        color: $transactions-list-item-incomes-icon-color;
      }
    }
  }

  .mat-line {
    margin-top: 0.5rem;
  }
}
