<form class="form">
  <h1 mat-dialog-title>{{ 'Password recovery' | translate }}</h1>

  <ng-container *ngIf="!userId">
    <mat-form-field class="form__control">
      <input matInput type="text" [formControl]="email" placeholder="{{ 'Enter an email' | translate }}">
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="email.invalid"
      (click)="getUserQuestions($event)"
    >
      {{ 'Get questions' | translate }}
    </button>
  </ng-container>

  <ng-container *ngIf="userId && !isShowNewPasswordForm" [formGroup]="questionnairesForm">
    <div>
      <label>{{ questions.question1 }}</label>

      <mat-form-field class="form__control">
        <input matInput type="text" formControlName="question1" placeholder="{{ 'Answer' | translate }}">
      </mat-form-field>
    </div>

    <div>
      <label>{{ questions.question2 }}</label>

      <mat-form-field class="form__control">
        <input matInput type="text" formControlName="question2" placeholder="{{ 'Answer' | translate }}">
      </mat-form-field>
    </div>

    <button mat-raised-button (click)="sendAnswers()" color="primary" [disabled]="questionnairesForm.invalid">
      {{ 'Submit' | translate }}
    </button>
  </ng-container>

  <ng-container *ngIf="userId && isShowNewPasswordForm" [formGroup]="recoveryPasswordForm">
    <mat-form-field class="form__control">
      <input matInput type="password" formControlName="newPassword" placeholder="{{ 'Enter a new password' | translate }}">
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="recoveryPasswordForm.invalid"
      (click)="submit()"
    >
      {{ 'Reset' | translate }}
    </button>
  </ng-container>
</form>
