@import 'src/app/shared/scss/screen-sizes';

::ng-deep {

  .mat-horizontal-stepper-header-container {
    margin-bottom: 1rem;
  }
}

.add-budget {

  &__control {
    display: block;
  }

  &__label {
    font-weight: 600;
  }
}
@media (max-width: $mobile-large) {

  .horizontal-stepper {
    display: none;
  }

  .vertical-stepper {
    display: block;
  }
}
@media (min-width: $mobile-large) {

  .horizontal-stepper {
    display: block;
  }

  .vertical-stepper {
    display: none;
  }
}
