$accent-color: #f2f1e6;
$transparent-accent-color: rgba(242, 241, 230, 0.75);
$dark-gray: #d9d8ce;
$gray: #808080;
$light-gray: #f2f2f2;
$black: #000;
$white: #fff;
$dark-blue: #0052cc;
$red: #dc143c;
$pretty-red: #bd352f;
$dark-red: #b23655;
$green: #008000;

$sidebar-color: rgb(36, 35, 35);
