$accent-color: #f2f1e6;
$accent-dark-color: #36f;
$transparent-accent-color: rgba(242, 241, 230, 0.75);
$transparent-accent-dark-color: rgba(19, 24, 48, 0.75);
$dark-gray: #d9d8ce;
$gray: #808080;
$light-gray: #f2f2f2;
$black: #000;
$white: #fff;
$dark-blue: #0052cc;
$light-blue: #769cd4;
$red: #dc143c;
$pretty-red: #bd352f;
$dark-red: #b23655;
$soft-red: #ff4877;
$green: #008000;
$dark-green: #00804b;
$yellow: #ffd300;
$default-sidebar-background: rgb(36, 35, 35);
$dark-sidebar-background: #212a45;
$turquoise: #3689b3;
