@import './colors';

$themes: (
  default: (
    app-background: $accent-color,
    header-color: $black,
    sidebar-background: $default-sidebar-background,
    sidebar-box-shadow: 0.1rem 0 0.5rem 0.3rem #242323,
    sidebar-item-color: $dark-gray,
    sidebar-item-active-background: lighten($default-sidebar-background, 20),
    todo-list-background: $white,
    account-info-title-color: $black,
    account-info-control-color: $dark-red,
    account-additions-data-joined-color: $gray,
    todo-item-background: $white,
    todo-item-content-color: $black,
    todo-item-completed-color: $green,
    todo-item-not-completed-color: $red,
    cash-color: $black,
    cash-update-color: $black,
    categories-list-title-color: $black,
    categories-list-btn-color: $black,
    categories-list-btn-background: $white,
    categories-list-btn-hover-background: lighten($dark-blue, 20),
    categories-item-background: $dark-gray,
    categories-item-hover-background: darken($dark-gray, 20),
    categories-item-color: $black,
    loader-overlay-background: $transparent-accent-color,
    popup-background: $white,
    popup-text-color: $black,
    popup-submit-button-color: $black,
    popup-submit-button-background: $white,
    popup-close-button-color: $black,
    popup-close-button-background: $white,
    mat-radio-outer-circle-color: rgba(0, 0, 0, 0.54),
    mat-radio-outer-circle-checked-color: #673ab7,
    mat-radio-inner-circle-checked-color: #673ab7,
    time-interval-text-color: $black,
    time-interval-radio-label-color: $black,
    chart-tick-color: $black,
    chart-legend-title-color: $black,
    chart-legend-labels-background: rgba(0, 0, 0, 0.05),
    chart-grid-line-stroke: #ddd,
    transactions-list-item-dark-background: $light-gray,
    transactions-list-item-border: $light-gray,
    transactions-list-item-title-color: $black,
    transactions-list-item-subtitle-color: $black,
    transactions-list-item-expenses-icon-color: $black,
    transactions-list-item-incomes-icon-color: $black,
    section-background: $light-gray,
    user-activity-header-color: #192038,
    user-activity-item-border-color: $dark-gray,
    user-activity-item-date-color: #192038,
    user-activity-item-caption-color: #8f9bb3,
    user-activity-item-note-color: #192038,
    user-activity-item-money-up-color: $green,
    user-activity-item-money-down-color: $red,
    section-box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1),
    statistic-total-result-expenses-color: #a10a28,
    statistic-total-result-incomes-color: #5aa454,
    material-stepper-background: $white,
    mat-select-value-text-color: $black,
    budget-list-item-background: $white,
    budget-header-limit-color: $black,
    budget-progress-bar-label-color: rgba(8, 14, 16, 0.62),
    budget-progress-bar-background: rgba(0, 0, 0, 0.15),
    budget-progress-bar-used-background: $light-blue
  ),
  dark: (
    app-background: #141930,
    header-color: $accent-dark-color,
    sidebar-background: $dark-sidebar-background,
    sidebar-box-shadow: 0.1rem 0 0.5rem 0.3rem #1a1f33,
    sidebar-item-color: $white,
    sidebar-item-active-background: lighten($dark-sidebar-background, 20),
    todo-list-background: #212a45,
    account-info-title-color: $white,
    account-info-control-color: $soft-red,
    account-additions-data-joined-color: darken($light-gray, 20),
    todo-item-background: #191f37,
    todo-item-content-color: $white,
    todo-item-completed-color: #00d58f,
    todo-item-not-completed-color: $soft-red,
    cash-color: $accent-dark-color,
    cash-update-color: $light-gray,
    categories-list-title-color: $light-gray,
    categories-list-btn-color: $white,
    categories-list-btn-background: linear-gradient(to right, #ff708d, #ff3d71),
    categories-list-btn-hover-background: linear-gradient(to right, lighten(#ff708d, 10), lighten(#ff3d71, 10)),
    categories-item-background: linear-gradient(to right, #42aaff, #0095ff),
    categories-item-hover-background: linear-gradient(to right, darken(#42aaff, 20), darken(#0095ff, 20)),
    categories-item-color: $white,
    loader-overlay-background: $transparent-accent-dark-color,
    popup-background: #222b45,
    popup-text-color: $white,
    popup-submit-button-color: $white,
    popup-submit-button-background: linear-gradient(to right, #598bff, #36f),
    popup-close-button-color: $white,
    popup-close-button-background: linear-gradient(to right, #ff708d, #ff3d71),
    mat-radio-outer-circle-color: $accent-dark-color,
    mat-radio-outer-circle-checked-color: $accent-dark-color,
    mat-radio-inner-circle-checked-color: $accent-dark-color,
    time-interval-text-color: $white,
    time-interval-radio-label-color: $light-gray,
    chart-tick-color: #a0aabe,
    chart-legend-title-color: #666,
    chart-legend-labels-background: rgba(255, 255, 255, 0.05),
    chart-grid-line-stroke: #2f3646,
    transactions-list-item-dark-background: #222b45,
    transactions-list-item-border: #141930,
    transactions-list-item-title-color: $white,
    transactions-list-item-subtitle-color: $dark-gray,
    transactions-list-item-expenses-icon-color: $accent-dark-color,
    transactions-list-item-incomes-icon-color: $soft-red,
    section-background: $dark-sidebar-background,
    user-activity-header-color: $white,
    user-activity-color: $white,
    user-activity-item-border-color: #141930,
    user-activity-item-date-color: $white,
    user-activity-item-caption-color: #8f9bb3,
    user-activity-item-note-color: $white,
    user-activity-item-money-up-color: #00d58f,
    user-activity-item-money-down-color: $soft-red,
    section-box-shadow: 0 0.5rem 1rem 0 #1a1f33,
    statistic-total-result-expenses-color: rgb(168, 56, 93),
    statistic-total-result-incomes-color: rgb(60, 192, 153),
    material-stepper-background: #222b45,
    mat-select-value-text-color: $white,
    budget-list-item-background: linear-gradient(to left, #42aaff, #0095ff),
    budget-header-limit-color: $white,
    budget-progress-bar-label-color: rgba(8, 14, 16, 0.9),
    budget-progress-bar-background: rgba(20, 25, 48, 0.15),
    budget-progress-bar-used-background: darken(#36f, 5%)
  )
);
