@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';

.wallet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 2.5rem;
  @include themify {
    border-top: 1px solid $cash-color;
    border-bottom: 1px solid $cash-color;
  }

  &__cash {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    @include themify {
      color: $cash-color;
    }
  }

  &__updates {
    @include themify {
      color: $cash-update-color;
    }
  }
}
