@import './colors';

@mixin form-control {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: gray;
  background-color: $dark-gray;
  border: none;
  padding: 0 0.7rem;

  &:focus { 
    background-color: white;
  }
}

@mixin submit-button {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  background-color: $dark-red;
  color: $accent-color;
  border: 0;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: darken($dark-red, 20%);
    cursor: not-allowed;
  }
}
