@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/screen-sizes';

:host {
  display: flex;
  flex-direction: column;
  grid-area: content;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.registration-header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin-left: 0.5rem;
    font-size: 2rem;
  }

  &__image {
    width: 25px;
    height: 25px;
  }
}

.registration-title {
  margin: 1rem 0;
  font-size: 2rem;
}

.registration-form {
  width: 50%;
  padding: 2rem;

  &__submit {
    padding: 0 0.5rem;
  }

  &__submit-btn {
    @include submit-button;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  &__label {
    padding: 0 0.7rem;
  }

  &__control {
    @include form-control;
  }

  &__error {
    padding: 0 0.7rem;
    color: $red;
  }

  &--medium {
    display: inline-block;
    width: 50%;
  }
}

.registration-footer {
  margin-top: 0.5rem;

  &__link {
    text-decoration: underline;
  }
}
@media (max-width: $desktop) {

  .registration-form {
    width: 75%;
  }
}
@media (max-width: $mobile-large) {

  .registration-form {
    width: 100%;
  }
}
