@import 'src/app/scss/colors';
@import 'src/app/scss/mixins';

:host {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.registration-header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 2rem;
  }
}

.registration-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.registration-form {
  padding: 2rem;
  width: 50%;

  &__submit {
    padding: 0 0.5rem;
  }

  &__submit-btn {
    @include submit-button;
  }
}

.form-group {
  padding: 0.5rem;

  &__label {
    padding: 0 0.7rem;
  }

  &__control {
    @include form-control;
  }

  &__error {
    padding: 0 0.7rem;
    color: $red;
  }

  &--medium {
    display: inline-block;
    width: 50%;
  }
}

.registration-footer {
  margin-top: 0.5rem;
}
