<header class="registration-header">
  <img src="../../../../../assets/app-icon.png" class="registration-header__image">
  <h1 class="registration-header__title">My Finance</h1>
</header>

<h2 class="registration-title">{{ 'Sign up to manage your finance' | translate }}</h2>

<section class="registration-form">
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <div class="form-group form-group--medium">
      <label class="form-group__label">{{ 'First Name' | translate}}</label>
      <input type="text" formControlName="firstName" class="form-group__control"/>
    </div>

    <div class="form-group form-group--medium">
      <label class="form-group__label">{{ 'Last Name' | translate}}</label>
      <input type="text" formControlName="lastName" class="form-group__control"/>
    </div>

    <div>
      <div class="form-group__error" *ngIf="isControlInvalid('firstName')">
        {{ 'Invalid First Name (5 letters min)' | translate }}
      </div>
      <div class="form-group__error" *ngIf="isControlInvalid('lastName')">
        {{ 'Invalid Last Name (5 letters min)' | translate }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-group__label">{{ 'Your Email' | translate }}</label>
      <input type="text" formControlName="email" class="form-group__control"/>
      <div class="form-group__error" *ngIf="isControlInvalid('email')">
        {{ 'Invalid email' | translate }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-group__label">{{ 'Password' | translate }}</label>
      <input type="password" formControlName="password" class="form-group__control"/>
      <div class="form-group__error" *ngIf="isControlInvalid('password')">
        {{ 'You must specify at least 5 characters long and no more 25' | translate }}.
        {{ 'Password should contains numbers' | translate }}
      </div>
    </div>

    <div class="form-group">
      <label class="form-group__label">{{ 'Confirm Password' | translate }}</label>
      <input type="password" formControlName="confirmPassword" class="form-group__control"/>
      <div
        class="form-group__error"
        *ngIf="registrationForm.controls['confirmPassword'].invalid && registrationForm.controls['confirmPassword'].touched"
      >
        {{ 'Passwords do not match' | translate }}
      </div>
    </div>

    <hr/>

    <div class="form-group" formGroupName="question1">
      <label class="form-group__label">{{ 'Question #1' | translate }}</label>

      <mat-form-field>
        <mat-select formControlName="question">
          <mat-option *ngFor="let question of questions1" [value]="question">{{ question | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <input type="text" placeholder="{{ 'Answer' | translate }}" formControlName="answer" class="form-group__control"/>
      <div class="form-group__error" *ngIf="isControlInvalid('question1')">
        {{ 'Question 1 is required' | translate }}
      </div>
    </div>

    <div class="form-group" formGroupName="question2">
      <label class="form-group__label">{{ 'Question #2' | translate }}</label>

      <mat-form-field>
        <mat-select formControlName="question">
          <mat-option *ngFor="let question of questions2" [value]="question">{{ question | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <input type="text" placeholder="{{ 'Answer' | translate }}" formControlName="answer" class="form-group__control"/>
      <div class="form-group__error" *ngIf="isControlInvalid('question2')">
        {{ 'Question 2 is required' | translate }}
      </div>
    </div>

    <div class="registration-form__submit">
      <button class="registration-form__submit-btn" type="submit" [disabled]="registrationForm.invalid">
        {{ 'Sign up' | translate }}
      </button>
    </div>
  </form>
</section>

<footer class="registration-footer">
  <span>
    {{ 'Do you have existing an account' | translate }}?
    <a class="registration-footer__link" routerLink='/auth/login'> {{ 'Login' | translate }}</a>
  </span>
</footer>
