<form class="form" [formGroup]="changeEmailForm" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Change email</h1>

  <mat-form-field class="form__control">
    <input matInput type="text" formControlName="email" [value]="data.email" placeholder="Enter an email">
  </mat-form-field>

  <footer class="form__footer" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="submit()" type="submit" [disabled]="!isFormValid()">Ok</button>
  </footer>
</form>
