<form class="form" [formGroup]="changeEmailForm" (ngSubmit)="submit()">
  <h1 mat-dialog-title>{{ 'Change email' | translate }}</h1>

  <mat-form-field class="form__control">
    <input matInput type="text" formControlName="email" [value]="data.email" placeholder="{{ 'Enter an email' | translate }}">
  </mat-form-field>

  <footer class="form__footer" mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
    <button mat-button (click)="submit()" type="submit" [disabled]="!isFormValid()">{{ 'Ok' | translate }}</button>
  </footer>
</form>
