@import './shared/scss/mixins';
@import './shared/scss/colors';

:host {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 350px;
}

.main {
  width: 100%;
  overflow: scroll;
  @include themify {
    background-color: $app-background;
  }
}
