<form class="form" [formGroup]="changeFullNameForm" (ngSubmit)="submit()">
  <h1 mat-dialog-title>{{ 'Change full name' | translate }}</h1>

  <mat-form-field class="form__control">
    <input matInput type="text" formControlName="firstName" [value]="data.firstName">
    <mat-placeholder class="placeholder">{{ 'Enter an first name' | translate }}</mat-placeholder>
  </mat-form-field>
  <mat-form-field class="form__control">
    <input matInput type="text" formControlName="lastName" [value]="data.lastName">
    <mat-placeholder class="placeholder">{{ 'Enter an last name' | translate }}</mat-placeholder>
  </mat-form-field>

  <footer class="form__footer" mat-dialog-actions>
    <button class="mat-button-close" mat-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
    <button class="mat-button-submit" mat-button (click)="submit()" type="submit" [disabled]="!isFormValid()">{{ 'Ok' | translate }}</button>
  </footer>
</form>
