@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';

:host {
  display: flex;
  flex-direction: column;
  grid-area: content;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin-left: 0.5rem;
    font-size: 2rem;
  }

  &__image {
    width: 25px;
    height: 25px;
  }
}

.login-title {
  margin: 1rem 0;
  font-size: 2rem;
}

.login-form {
  width: 50%;
  padding: 2rem 2rem 1rem;

  &__submit-btn {
    @include submit-button;
  }

  &__footer {
    margin-top: 1rem;
  }

  &__footer-link {
    display: block;
    margin-top: 0.5rem;
    text-decoration: underline;
  }
}

.form-group {
  padding: 0.5rem 0;

  &__label {
    padding: 0 0.7rem;
  }

  &__control {
    @include form-control;
  }

  &__error {
    padding: 0 0.7rem;
    color: $red;
  }
}
