@import 'reset-css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import './app/shared/scss/colors';
@import './app/shared/scss/mixins';
@import './app/shared/scss/screen-sizes';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Code Pro', monospace;
  @include themify {
    background-color: $app-background;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $gray !important;
  -webkit-box-shadow: 0 0 0 30px $dark-gray inset !important;
  box-shadow: 0 0 0 30px $dark-gray inset !important;
}

/*** Material Angular ***/

.mat-dialog-container {
  @include themify {
    color: $popup-text-color;
    background-color: $popup-background;
  }

  .mat-button-submit {
    @include themify {
      color: $popup-submit-button-color;
      background: $popup-submit-button-background;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .mat-button-close {
    @include themify {
      color: $popup-close-button-color;
      background: $popup-close-button-background;
    }
  }
}

.mat-select .mat-select-value-text {
  @include themify() {
    color: $mat-select-value-text-color;
  }
}

.mat-radio-outer-circle {
  @include themify {
    border-color: $mat-radio-outer-circle-color;
  }
}

.time-intervals__radio-btn.mat-radio-checked .mat-radio-container .mat-radio-outer-circle {
  @include themify {
    border-color: $mat-radio-outer-circle-checked-color;
  }
}

.time-intervals__radio-btn.mat-radio-checked .mat-radio-container .mat-radio-inner-circle {
  @include themify {
    background-color: $mat-radio-inner-circle-checked-color;
  }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: $black;
  opacity: 0.75;
}
@media (max-width: $mobile-large) {

  .cdk-overlay-container .cdk-overlay-pane {
    width: 60vw !important;
  }
}
@media (max-width: $mobile) {

  .cdk-overlay-container .cdk-overlay-pane {
    width: 80vw !important;
  }
}
