@import 'reset-css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import './app/shared/scss/colors';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $accent-color;
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
