<section class="categories-list">
  <h2 class="categories-list__title">{{ title }}</h2>
  <button class="categories-list__creation" (click)="createNewCategory()">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>

  <!-- <div class="categories" [@hideShow]="isShowCategories"> -->
  <div class="categories">
    <app-category
      class="categories__item"
      *ngFor="let category of categories"
      [category]="category"
      (click)="trackMoney(category)"
    ></app-category>
  </div>
</section>
