@import 'src/app/shared/scss/colors';
@import 'src/app/shared/scss/mixins';
@import 'src/app/shared/scss/screen-sizes';

.categories-list {
  position: relative;
  padding: 1rem;

  &__title {
    display: inline-block;
    font-size: 1.75rem;
    @include themify {
      color: $categories-list-title-color;
    }
  }

  &__create-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 3px;
    outline: none;
    @include themify {
      color: $categories-list-btn-color;
      background: $categories-list-btn-background;
    }

    &:hover {
      background-color: lighten($dark-blue, 20);
      cursor: pointer;
      @include themify {
        background: $categories-list-btn-hover-background;
      }
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin: 1rem 1rem 1rem 0;
    overflow: hidden;
    transition: background-color 0.3s;
    @include themify {
      color: $categories-item-color;
      background: $categories-item-background;
    }

    &:hover {
      cursor: pointer;
      @include themify {
        background: $categories-item-hover-background;
      }
    }
  }
}
@media (max-width: $mobile-large) {

  .categories {
    justify-content: center;
  }
}
